/*CSS Demo Project*/
/*
#6ABF8C cyan
#281616 dark maroon
#7C1A53 vivid purple
#E0A88C soft pink 
#D7D396 sand
*/


body{
    background-color:#281616;
    font-family: "Mate", serif;
    color:#D7D396;
}
