/*CSS Demo Project*/
/*
#15152D (21, 21, 45) navy
#444E7F (68, 78, 127) steel blue
#8C98E2 (140, 152, 226) pale blue
#E8EFFF (232, 239, 255) ice blue
#9c1f2d (156, 31, 45) maroon
*/

/* --------Box Sizing-------- */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/* --------Background Imagery--------*/
/*not typically placed in a flag up here*/



/* --------Utility Styles--------*/

.container{ /*use . for class and # for id*/
    width:80vw;
    margin:40px auto;
}

.img-right{
    float:right;
    margin: 10px 0 10px 20px;
    border:4px double #8C98E2;
    padding:5px;
    box-shadow:4px 4px 2px rgba(232, 239, 255, 0.1);
}

.img-left{
    float:left;
    margin: 10px 20px 10px 0;
    border:4px double #8C98E2;
    padding:5px;
    box-shadow:4px 4px 2px rgba(232, 239, 255, 0.1);
}

.img-center{
    border:4px double #8C98E2;
    padding:5px;
    box-shadow:4px 4px 2px rgba(232, 239, 255, 0.1);
    display:block;
    margin:20px auto;
}

/* --------Responsive Images--------*/
/*Can be placed under Utility Styles*/
img{
    max-width:100%;
}

/* --------Global Styles-------- */
body{
    background-color:#15152D;
    font-family: 'Gelasio', serif;
    color:#E8EFFF;
    margin:0;
    background-image:url("../img/navy_fabric.jpg");
    /*background-repeat:repeat-x;*/
    /*background-repeat:repeat-y;*/
    background-repeat:no-repeat;
    /*background-position:center;*/
    /*background-position:20vh 20vw;*/
    /*background-size: contain;*/
    background-size:cover;
    background-attachment:fixed;

}

header.primary{

    background-color:#8C98E2;
    /*fill %23 is just the code for #, the rest is the hex color*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%2315152D' fill-opacity='0.1' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");


    color:#444E7F;
    text-align: center;
    padding:20px;
    /*long form*/
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;  
     /* T,R,B,L */
    padding: 20px 40px 20px 40px; 
    /* Two Value Top/Bottom, L/R */
    padding: 20px 40px;
    /*-- Order matters, same syntax for margin --*/

    /*text-shadow:1px 1px 10px #000000; 
    X offset, Y offset, optional blur, color*/

}

header.primary h1{
    font-size:2.6rem; /*can use px but em and rem scales*/
    margin:20px;
}

header.primary h1 a{
    color: white;
    text-decoration:none;
}

header.primary h2{
    font-size:1.4rem;
}

header.primary nav{
    max-width:960px;
    margin:auto;
}

header.primary nav ul{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:0; /*since we removed the bullets*/
}

header.primary nav ul li{
    list-style-type:none; 
}

header.primary nav a{
    color:#15152D;
    background-color:#E8EFFF;
    background-color:rgba(232, 239, 255, 0.5);
    text-decoration:none;
    font-size: 1.2rem;
    padding:8px 16px;
    border-radius:8px;
    transition:0.5s;
}

header.primary nav a:hover,
header.primary nav a:active{
    background-color:#9c1f2d;
    color:#E8EFFF;
}

#intro{
border-bottom: 1px solid #444E7F; 
padding-bottom:14px;
}

#intro h2{
    color:#8C98E2;
    padding-bottom:8px;
    border-bottom: 1px dotted #8C98E2;
}

#content{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #444E7F;
}

#practice h2{
    color:#8C98E2;
    padding-bottom:8px;
    border-bottom: 1px dotted #8C98E2;
}

#practice a{
    color:#8C98E2;
}

#practice a:hover{
    text-decoration:none;
}

#practice h3{
    border-left:7.5px solid #9c1f2d;
    padding-left:10px;
}

#practice blockquote{
    border:4px double #8C98E2;
    padding: 20px 40px;
    margin: 40px 80px;
    border-radius:30px 0;
    background-color:#444E7F;
    color:#E8EFFF;
    line-height:1.4;
    text-shadow:1px 1px rgba(232, 239, 255, 0.1);
}

#practice blockquote cite{
    display:block;
    text-align:right;
    font-size:0.7rem;
    margin-top:20px;
}

table{
    width:100%;
    border:2px solid #444E7F;
    margin:20px 0;
    border-collapse:collapse;
}

table th{
    background-color:#E8EFFF;
    color:#15152D;
    padding:10px;
    font-size:1.2rem;
}

table td{
    border:1px solid #444E7F;
}

table td:nth-child(n+2){
    text-align:right;
}

table tr:nth-child(odd){
background-color: rgba(232, 239, 255, 0.1);
}

table tr:hover{
    background-color:rgba(232, 239, 255, 0.3);
    color:#15152D;
}

table caption{
    font-weight:bold;
    margin:10px;
}

ol{
    list-style-type:lower-roman;
}

ul li > ul{
    list-style-type:square;
    color:#9c1f2d
}

dt{
    font-weight:bold;
    /*margin-top:20px;*/ 
}

/*dt:first-of-type{
    margin-top:0px;
} combine with amove margin, alt option besides below*/

dd + dt{ /*adjacent child selector*/
    margin-top:20px;
}

dd{
    margin:0;
}


#content article.post{
    box-shadow:0 4px 8px rgba(232, 239, 255, 0.1);
    padding:10px;
    font-size:0.9rem;
}

#content article.post:hover{
    box-shadow:0 4px 12px rgba(232, 239, 255, 0.3);
}

article.post figure{
    margin:0;
}

time.post-date{
    text-transform:uppercase;
    color:#9c1f2d;
    font-size:0.7rem;
}

article.post img{
    padding: 3px;
    border:solid 2px #8C98E2;
    border-radius:3px;
}

article.post a{
    color:#8C98E2;
}

article.post a:hover{
    text-decoration:none;
    
}

aside[role="complementary"]{
    background-color: rgb(68, 78, 127, 0.7);
    padding:20px;
}

aside[role="complementary"] a{
    color:#15152D;
}

aside[role="complementary"] a:hover{
    color:#9c1f2d;
    transition:0.5s;
}

aside[role="complementary"] a:last-of-type{
    display: block;
    text-align:right;
}

/*the space implies a container inside aside vs aside with the attribute container*/
aside div.container{
    display:flex;
    flex-direction:row;
    gap:40px;
}

aside .container p{
    line-height:1.5;
}

aside .container .widget footer{
    display:none;
}

#colophon{
    color:#15152D;
    background-color:#8C98E2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='18' viewBox='0 0 100 18'%3E%3Cpath fill='%2315152D' fill-opacity='0.1' d='M61.82 18c3.47-1.45 6.86-3.78 11.3-7.34C78 6.76 80.34 5.1 83.87 3.42 88.56 1.16 93.75 0 100 0v6.16C98.76 6.05 97.43 6 96 6c-9.59 0-14.23 2.23-23.13 9.34-1.28 1.03-2.39 1.9-3.4 2.66h-7.65zm-23.64 0H22.52c-1-.76-2.1-1.63-3.4-2.66C11.57 9.3 7.08 6.78 0 6.16V0c6.25 0 11.44 1.16 16.14 3.42 3.53 1.7 5.87 3.35 10.73 7.24 4.45 3.56 7.84 5.9 11.31 7.34zM61.82 0h7.66a39.57 39.57 0 0 1-7.34 4.58C57.44 6.84 52.25 8 46 8S34.56 6.84 29.86 4.58A39.57 39.57 0 0 1 22.52 0h15.66C41.65 1.44 45.21 2 50 2c4.8 0 8.35-.56 11.82-2z'%3E%3C/path%3E%3C/svg%3E");
    }

#colophon h6{
    margin:0px;
    padding:10px;
}

#colophon h6 a{
    text-decoration:none;
    color:#15152D;
}



















/* --------Media Query-------- */ 
/*This should always be at the bottom*/
@media screen and (max-width:600px){
    header.primary nav ul{
        flex-direction:column;
        max-width:250px;
        margin:auto;
    }

    header.primary nav ul a{
        display:block;
    }

    header.primary nav li{
        margin-bottom:10px;
    }

    #content{
        flex-direction:column;
    }

    #content img{
        margin:auto;
    }
    
    aside div.container {
        flex-direction:column;
    }
}