/*CSS Demo Project*/
/*
#F5F0EA (245, 240, 234) offwhite
#EBDBCB (235, 219, 203) pale
#D6AED3 (214, 174, 211) lavender
#1E1F3B (30, 31, 59) blue
#0A0712 (10, 7, 18) navy
*/

/* --------Box Sizing-------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}


/* --------Utility Styles--------*/

.container{ 
  width:95vw;
  margin:40px auto;
}

.post-img-right{
  float:right;
  position:relative;
  
  margin:0px;
  padding:0px;
  padding-left:20px;
  max-height:400px;
}

.post-img-left{
  position:relative;
  float:left;
  margin:0px;
  padding:0px;
  padding-right:20px;
  max-height:400px;
}

.img-center{
  display:block;
  margin:20px auto;
}

img{
  max-width:80%;
}

/* --------Global Styles-------- */

body{
  background-color:#0A0712;
  font-family:'Cabin', serif;
  color:#F5F0EA;
  margin:0px;
}

header.primary h1{
  text-align:center;
  padding: 20px;
}


h2 {
  vertical-align: center;
  text-align: center;
}

.content-block{
  display:inline-block;
}

#concept-block{
  background-color:red;
}

#desc-block{
  background-color:green;
}


.post{
  padding:40px;
  text-align:justify;
  

  background-color:orange;
}




/* --------Media Query-------- */ 
@media screen and (max-width:600px){
    
}
