/*CSS Demo Project*/
/*
#332433 (51, 36, 51) purple
#847996 (132, 121, 150) periwinkle
#88b7b5 (136, 183, 181) blue
#a7cab1 (167, 202, 177) spruce
#ccf0d7 (204, 240, 215) pale green



#F5F0EA (245, 240, 234) offwhite
#EBDBCB (235, 219, 203) pale
#D6AED3 (214, 174, 211) lavender
#1E1F3B (30, 31, 59) blue
#0A0712 (10, 7, 18) navy
*/

/* --------Box Sizing-------- */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}


/* --------Utility Styles--------*/



.post-img{
  position:relative;
  max-width:40vw;
}

.post-img-center{
  max-width:25vw;
}



/* --------Global Styles-------- */

body{
  background-color:#181c1f;
  font-family:'Cabin', serif;
  color:#F2F2F2;
}


header.primary{
  background-color: #181c1f;
  display:block;
  text-align: center;
  color: #F2F2F2;
  text-shadow: 2px 2px #181c1f;
  padding: 6em 2em;
  position: relative;
}

header.primary::before{
  content:"";
  background-image:url("/segway/assets/img/header_segway.jpg");
  background-size:cover;
  position:absolute;
  top: -500px;
  right: 0px;
  bottom: 0px;
  left: -300px;
  opacity:0.2;
}

header.primary h1{
  font-size:3.2rem;
  margin-bottom:40px;
}

header.primary h1 a {
  background-image: url("/segway/assets/img/segway_logo_white.png");
  display: block;
  width:600px;
  height:342px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}


header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}
header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}





#content #about{
  padding-top:40px;
  padding-bottom:40px;
  background-color: #F2F2F2;
}

.content-block{
  display:flex;
  justify-content: center;
  align-items: center;
}

.content-block h2{
  text-align: center;
  font-size:2rem;
  font-size:1.5rem;
  padding:20px;
  margin: 0px 20px;
  background-color:#2f6e1f;
  color:#F2F2F2;
  border-radius:30px;
}

.block-post{
  color:#181c1f;
  padding:0px;
  margin:0px;
}


section.container figure {
  line-height:0px;
  margin:20px;
  max-width:30vw;
}

section.container figure img{
  max-width:30vw; 
  padding:10px;
  border:10px solid #181c1f;
  border-radius:30px;
}


.block-post{
  align-items:center;
  padding:40px;
  text-align:justify;
}


.content-articles{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  margin-top:40px;
}




article.post{
  margin-bottom:40px;
  max-width:40vw;
  padding:10px;
  background-color: #F2F2F2;
  color:#181c1f;
  border:4px solid #181c1f;
  border-radius: 30px;
}

article.post figure{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

article.post figure img{
  border:10px solid #181c1f;
  border-radius:30px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

div.article-text h3{
  font-size:1.5rem;
  padding:20px;
  background-color:#2f6e1f;
  color:#F2F2F2;
  border-radius:30px;
}


article.post div.article-text{
  border-radius:30px;
  margin-top:20px;
  padding:20px;
}

article.post div.article-text ul{
  list-style-type:none;
  padding:0px;
}

article.post div.article-text ul strong{
  display:block;
  font-size:1.2rem;
  padding-top:20px;
  color:#2f6e1f;
}




/* --------Media Query-------- */ 
@media screen and (max-width:600px){
  header.primary h1{
    background-color: red;
  }
}
